body{
    background-color: rgb(204, 204, 204);
}
.player_one{
    width: 100%;
	padding:5px;
	border-radius: 1px;
    background-color: rgb(255, 255, 255);
}
ul.a{
	list-style-type: none;
}
h2{
    text-align: center;
}
.player_two{	
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    padding: 10px;
	border-radius:1px;
    align-items: center;
}
